In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split

In [27]:
def ConvertDateintoDay_Month_Year(df):
    #newdf = pd.DataFrame()
    df.Date = pd.to_datetime(df.Date)
    #df["Nav"] = df.Nav
    df["day"] = df.Date.dt.day
    df["month"] = df.Date.dt.month
    df["year"] = df.Date.dt.year
    df["day_of_week"] = df.Date.dt.dayofweek
    df = df.drop(columns=["Unnamed: 0","Date"],axis=1)
    return df

def OptimiseDataframe(df):
    newdf = pd.DataFrame()
    newdf["Date"] = df.Date
    newdf["Nav"] = df.Open
    newdf = newdf.dropna()
    return newdf

In [28]:
directory =  os.path.join(os.getcwd())
file = r"SBI Contra fund featured data.csv"
df = pd.read_csv(os.path.join(directory,file))
#newdf = OptimiseDataframe(df)
#print(newdf)
new_df = ConvertDateintoDay_Month_Year(df)
print(new_df)

      Unnamed: 0       Date        Open  avg_month_return  risk_free_rate  \
0              0 2018-03-09  117.468002         -0.120525            0.21
1              1 2018-03-12  118.628998         -0.120525            0.21
2              2 2018-03-13  119.311996         -0.120525            0.21
3              3 2018-03-14  119.295998         -0.120525            0.21
4              4 2018-03-15  119.210999         -0.120525            0.21
...          ...        ...         ...               ...             ...
1226        1231 2023-03-01  242.364807          0.533991            0.21
1227        1232 2023-03-02  241.635498          0.533991            0.21
1228        1233 2023-03-03  244.246399          0.533991            0.21
1229        1234 2023-03-06  245.949799          0.533991            0.21
1230        1235 2023-03-08  246.789703          0.533991            0.21

      excess_return  previous_close  previous_day_return  day  month  year  \
0         -0.210000        0.000000             0.000000    9      3  2018
1         -0.210000      117.468002             0.000000   12      3  2018
2          0.778351      118.628998             0.988351   13      3  2018
3          0.365743      119.311996             0.575743   14      3  2018
4         -0.223409      119.295998            -0.013409   15      3  2018
...             ...             ...                  ...  ...    ...   ...
1226      -0.405647      240.318604            -0.195647    1      3  2023
1227       0.641454      242.364807             0.851454    2      3  2023
1228      -0.510914      241.635498            -0.300914    3      3  2023
1229       0.870512      244.246399             1.080512    6      3  2023
1230       0.487410      245.949799             0.697410    8      3  2023

      day_of_week
0               4
1               0
2               1
3               2
4               3
...           ...
1226            2
1227            3
1228            4
1229            0
1230            2

[1231 rows x 12 columns]

In [4]:
day_month_dummies = pd.get_dummies(new_df, columns=['day_of_week', 'month'])

In [5]:
data_to_be_trained = day_month_dummies.drop(columns=["day"],axis=1)

In [6]:
data_to_be_trained = data_to_be_trained.dropna()

In [7]:
data_to_be_trained

,Nav,year,day_of_week_0,day_of_week_1,day_of_week_2,day_of_week_3,day_of_week_4,month_1,month_2,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
0,89.909798,2019,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,90.265404,2019,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
2,90.289001,2019,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
3,90.807602,2019,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,90.438599,2019,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,163.582199,2022,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
751,162.720505,2022,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0
753,162.373093,2022,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
755,163.056396,2022,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
756,162.851898,2022,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0

In [8]:
input_ = [2022,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0]

In [9]:
y = data_to_be_trained["Nav"]
X = data_to_be_trained.drop(columns=["Nav"],axis=1)

In [10]:
mm = preprocessing.MinMaxScaler()

In [11]:
df_mm = pd.DataFrame()
df_mm["Nav"] = y
col_names = list(df_mm.columns)
scaled_df = mm.fit_transform(df_mm)
scaled_df = pd.DataFrame(scaled_df,columns = col_names)
scaled_df

          Nav
0    0.284721
1    0.288173
2    0.288402
3    0.293437
4    0.289855
..        ...
720  1.000000
721  0.991634
722  0.988261
723  0.994895
724  0.992910

[725 rows x 1 columns]

In [12]:
y = scaled_df["Nav"]

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
regr = LinearRegression()
regr.fit(X_train, y_train)
regr_y_pred = regr.predict(X_test)
mae = mean_absolute_error(y_test, regr_y_pred)
print('MAE:', mae)
print("LR Model : ",regr.score(X_test, y_test))

MAE: 0.06981373015911295
LR Model :  0.9111420751103464

In [17]:
rnd = RandomForestRegressor()
rnd.fit(X_train, y_train)

rnd_y_pred = rnd.predict(X_test)
mae = mean_absolute_error(y_test, rnd_y_pred)
print('MAE:', mae)
print("LR Model : ",rnd.score(X_test, y_test))

MAE: 0.021760007385943844
LR Model :  0.9867049579256981

In [15]:
from sklearn.svm import SVR
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
model = Pipeline([('scaler', StandardScaler()), ('svr', SVR())])
# Train the model
model.fit(X_train, y_train)

# Evaluate the model
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
print('MAE:', mae)

MAE: 0.06980880419263455

In [18]:
print("LR Model : ",model.score(X_test, y_test))

LR Model :  0.9239283343154105

In [19]:
input_ = [2019,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0]
x = rnd.predict([input_])

In [20]:
x = rnd.predict([input_])
ans_x = np.array(x[0]).reshape(-1,1)
ans_x = mm.inverse_transform(ans_x)
ans_x = ans_x[0][0]
ans_x

88.49974203738095

In [21]:
len(data_to_be_trained["Nav"])-60

665

In [22]:
historic_data = []
data = pd.DataFrame()

for i in range(60):
    name = "close_price_"+str(i+1)
    data[name] = data_to_be_trained['Nav'].shift(i+1)

In [23]:
data = data[60::]
data

,close_price_1,close_price_2,close_price_3,close_price_4,close_price_5,close_price_6,close_price_7,close_price_8,close_price_9,close_price_10,...,close_price_51,close_price_52,close_price_53,close_price_54,close_price_55,close_price_56,close_price_57,close_price_58,close_price_59,close_price_60
61,91.595100,92.258102,92.713402,92.035797,91.608299,91.086197,91.289497,91.469704,90.329803,89.364403,...,90.375397,90.185402,90.249397,90.769798,90.285004,90.438599,90.807602,90.289001,90.265404,89.909798
62,92.070900,91.595100,92.258102,92.713402,92.035797,91.608299,91.086197,91.289497,91.469704,90.329803,...,90.276100,90.375397,90.185402,90.249397,90.769798,90.285004,90.438599,90.807602,90.289001,90.265404
63,91.135002,92.070900,91.595100,92.258102,92.713402,92.035797,91.608299,91.086197,91.289497,91.469704,...,89.893097,90.276100,90.375397,90.185402,90.249397,90.769798,90.285004,90.438599,90.807602,90.289001
64,90.885201,91.135002,92.070900,91.595100,92.258102,92.713402,92.035797,91.608299,91.086197,91.289497,...,89.647903,89.893097,90.276100,90.375397,90.185402,90.249397,90.769798,90.285004,90.438599,90.807602
65,92.096397,90.885201,91.135002,92.070900,91.595100,92.258102,92.713402,92.035797,91.608299,91.086197,...,89.609497,89.647903,89.893097,90.276100,90.375397,90.185402,90.249397,90.769798,90.285004,90.438599
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,162.377396,162.020493,159.976196,159.294296,159.332504,160.363403,160.257004,161.486603,162.808807,162.574295,...,151.538696,152.080307,150.924896,149.024597,148.284897,147.345505,147.412598,148.345795,148.337906,147.104401
751,163.582199,162.377396,162.020493,159.976196,159.294296,159.332504,160.363403,160.257004,161.486603,162.808807,...,151.942795,151.538696,152.080307,150.924896,149.024597,148.284897,147.345505,147.412598,148.345795,148.337906
753,162.720505,163.582199,162.377396,162.020493,159.976196,159.294296,159.332504,160.363403,160.257004,161.486603,...,151.790207,151.942795,151.538696,152.080307,150.924896,149.024597,148.284897,147.345505,147.412598,148.345795
755,162.373093,162.720505,163.582199,162.377396,162.020493,159.976196,159.294296,159.332504,160.363403,160.257004,...,152.587006,151.790207,151.942795,151.538696,152.080307,150.924896,149.024597,148.284897,147.345505,147.412598
756,163.056396,162.373093,162.720505,163.582199,162.377396,162.020493,159.976196,159.294296,159.332504,160.363403,...,152.311401,152.587006,151.790207,151.942795,151.538696,152.080307,150.924896,149.024597,148.284897,147.345505

In [24]:
col_names = list(data.columns)
historic_scaled_df = mm.fit_transform(data)
historic_scaled_df = pd.DataFrame(historic_scaled_df,columns = col_names)
historic_scaled_df

,close_price_1,close_price_2,close_price_3,close_price_4,close_price_5,close_price_6,close_price_7,close_price_8,close_price_9,close_price_10,...,close_price_51,close_price_52,close_price_53,close_price_54,close_price_55,close_price_56,close_price_57,close_price_58,close_price_59,close_price_60
0,0.301083,0.307520,0.311941,0.305362,0.302652,0.297559,0.299542,0.301300,0.290180,0.280762,...,0.323808,0.321743,0.324224,0.329912,0.324614,0.326292,0.333829,0.328101,0.327841,0.323913
1,0.305703,0.301083,0.307520,0.311941,0.306823,0.302652,0.297559,0.299542,0.301300,0.290180,...,0.322729,0.323808,0.323525,0.324224,0.329912,0.324614,0.329754,0.333829,0.328101,0.327841
2,0.296616,0.305703,0.301083,0.307520,0.313433,0.306823,0.302652,0.297559,0.299542,0.301300,...,0.318566,0.322729,0.325601,0.323525,0.324224,0.329912,0.328057,0.329754,0.333829,0.328101
3,0.294191,0.296616,0.305703,0.301083,0.308991,0.313433,0.306823,0.302652,0.297559,0.299542,...,0.315901,0.318566,0.324516,0.325601,0.323525,0.324224,0.333412,0.328057,0.329754,0.333829
4,0.305950,0.294191,0.296616,0.305703,0.302524,0.308991,0.313433,0.306823,0.302652,0.297559,...,0.315483,0.315901,0.320330,0.324516,0.325601,0.323525,0.327664,0.333412,0.328057,0.329754
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660,0.988303,0.984838,0.964990,0.958369,0.963327,0.973384,0.972346,0.984341,0.997239,0.994952,...,0.988606,0.994493,0.987372,0.966603,0.958518,0.948251,0.959051,0.969359,0.969272,0.955647
661,1.000000,0.988303,0.984838,0.964990,0.962954,0.963327,0.973384,0.972346,0.984341,0.997239,...,0.992998,0.988606,1.000000,0.987372,0.966603,0.958518,0.958310,0.959051,0.969359,0.969272
662,0.991634,1.000000,0.988303,0.984838,0.969606,0.962954,0.963327,0.973384,0.972346,0.984341,...,0.991339,0.992998,0.994081,1.000000,0.987372,0.966603,0.968686,0.958310,0.959051,0.969359
663,0.988261,0.991634,1.000000,0.988303,0.989549,0.969606,0.962954,0.963327,0.973384,0.972346,...,1.000000,0.991339,0.998497,0.994081,1.000000,0.987372,0.976857,0.968686,0.958310,0.959051
664,0.994895,0.988261,0.991634,1.000000,0.993031,0.989549,0.969606,0.962954,0.963327,0.973384,...,0.997004,1.000000,0.996829,0.998497,0.994081,1.000000,0.997846,0.976857,0.968686,0.958310

In [25]:
new_df = X[60::]
new_df = new_df.reset_index()
historic_scaled_df = historic_scaled_df.reset_index()
new_dataset = pd.concat([new_df, historic_scaled_df], axis=1)

In [26]:
new_dataset = new_dataset.drop(columns=["index"],axis=1)

In [27]:
new_y = y[60::]
new_y

60     0.305703
61     0.296616
62     0.294191
63     0.305950
64     0.306381
         ...
720    1.000000
721    0.991634
722    0.988261
723    0.994895
724    0.992910
Name: Nav, Length: 665, dtype: float64

In [28]:
def train_model(X,y):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)
    
    regr = LinearRegression()
    regr.fit(X_train, y_train)
    regr_y_pred = regr.predict(X_test)
    mae = mean_absolute_error(y_test, regr_y_pred)
    print("Linear regression:")
    print('MAE:', mae)
    print("Model Score : ",regr.score(X_test, y_test))
    print("------------------------------------")
    
    rnd = RandomForestRegressor()
    rnd.fit(X_train, y_train)
    rnd_y_pred = rnd.predict(X_test)
    mae = mean_absolute_error(y_test, rnd_y_pred)
    print("Random Forest Regression")
    print('MAE:', mae)
    print("Model Score: ",rnd.score(X_test, y_test))
    print("-------------------------------------")
    
    model = Pipeline([('scaler', StandardScaler()), ('svr', SVR())])
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    mae = mean_absolute_error(y_test, y_pred)
    print("Support Vector Regressor")
    print('MAE:', mae)
    print("Model Score: ",model.score(X_test, y_test))

In [29]:
train_model(new_dataset,new_y)

Linear regression:
MAE: 0.009390866933178468
Model Score :  0.9977561345533249
------------------------------------
Random Forest Regression
MAE: 0.009234439582447462
Model Score:  0.9979492188585473
-------------------------------------
Support Vector Regressor
MAE: 0.04834188547667499
Model Score:  0.9555851423332072

In [37]:
_datax = historic_scaled_df.drop(columns=["index"],axis=1)
_datay = new_y

In [38]:
train_model(_datax,_datay)

Linear regression:
MAE: 0.009272077786617764
Model Score :  0.9981405743062696
------------------------------------
Random Forest Regression
MAE: 0.010169973758657821
Model Score:  0.9978330041915439
-------------------------------------
Support Vector Regressor
MAE: 0.04789986718052662
Model Score:  0.9616555046521451

In [39]:
test_regr = LinearRegression()
test_rnd = RandomForestRegressor()
test_svr = Pipeline([('scaler', StandardScaler()), ('svr', SVR())])
def train_model(X,y):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)
    
    
    test_regr.fit(X_train, y_train)
    regr_y_pred = test_regr.predict(X_test)
    mae = mean_absolute_error(y_test, regr_y_pred)
    print("Linear regression:")
    print('MAE:', mae)
    print("Model Score : ",test_regr.score(X_test, y_test))
    print("------------------------------------")
    
 
    test_rnd.fit(X_train, y_train)
    rnd_y_pred = test_rnd.predict(X_test)
    mae = mean_absolute_error(y_test, rnd_y_pred)
    print("Random Forest Regression")
    print('MAE:', mae)
    print("Model Score: ",test_rnd.score(X_test, y_test))
    print("-------------------------------------")
    
    
    test_svr.fit(X_train, y_train)
    y_pred = test_svr.predict(X_test)
    mae = mean_absolute_error(y_test, y_pred)
    print("Support Vector Regressor")
    print('MAE:', mae)
    print("Model Score: ",test_svr.score(X_test, y_test))

In [40]:
train_model(_datax,_datay)

Linear regression:
MAE: 0.010670170902971244
Model Score :  0.997499527978209
------------------------------------
Random Forest Regression
MAE: 0.009591707811690463
Model Score:  0.9979893061060848
-------------------------------------
Support Vector Regressor
MAE: 0.050620838490165444
Model Score:  0.9603697841209318

In [48]:
input_ele = list(_datax.iloc[664])

In [60]:
x = test_regr.predict([input_ele])
print(x)
ans_x = np.array(x[0]).reshape(-1,1)
ans_x = mm.inverse_transform(ans_x)
ans_x = ans_x[0][0]
ans_x

[0.99448693]

ValueError: non-broadcastable output operand with shape (1,1) doesn't match the broadcast shape (1,60)

In [64]:
mm.inverse_transform([0.99448693][])

SyntaxError: invalid syntax (<ipython-input-64-1bef2bd84d48>, line 1)